*, *::before, *::after { box-sizing: border-box }

html {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, apple color emoji, segoe ui emoji, segoe ui symbol, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  /* container-type: size; */

  --obs-panel-bg: #2b2e38;
  --obs-media-bg: #0bf;
  background-color: var(--obs-panel-bg);
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  container-type: size;
  width: 100%;
  height: 100vh;
}

svg {
  display: block;
}

button {
  appearance: none;
  border: none;
  /* background: #fff2; */
  background-color: #b8bbd422;
  color: inherit;
  font: inherit;
  padding: 0 0.5em;
  border-radius: 0.25em;
  display: flex;
  flex-direction: row;
  height: 2em;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background-color: #05f;
}

h1, h2, h3 {
  margin: 0;
  font-size: 1.25em;
}
