*, *::before, *::after { box-sizing: border-box }

html {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, apple color emoji, segoe ui emoji, segoe ui symbol, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  /* container-type: size; */

  --obs-panel-bg: #2b2e38;
  --obs-media-bg: #0fb;
  background-color: var(--obs-panel-bg);
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  container-type: size;
}

svg {
  display: block;
}

button {
  appearance: none;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  font-size: 1.25em;
}
